img.logo{
    width: 72px;
    height: 72px;
    margin: 20px;
}
body{
    background-color: #154ee9;
    margin-top: 200px;
}
button{
    margin-top: 20px;
    text-align: center; 
}
input{
    text-align: center;
}
